
@{
    ViewBag.Title = "BreakfastMenus";
}

<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Breakfast Menus

    <small>
        PREMIER BREAKFAST CATERERS

    </small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active"> Breakfast Menus</li>
</ol>
<div class="row">
    <div class="col-md-5">
        <h1>
            Easy Breezy

        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Scrambled eggs served with bagels and cream cheese complete with a fresh fruit yogurt and granola parfait
            and Tang. Includes paper goods and cutlery. <br>
        <p class="text-center">
            <b>
                Minimum of $425 or $5.95 pp
            </b>
        </p>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-5">
        <h1>
            Cakes &amp; Eggs


        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Unlimited Pancakes served with sausage links, scrambled eggs, margarine, syrup, sugar free syrup and Tang.
            Includes paper goods and cutlery.

            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425 or $6.25 pp
            </b>
        </p>

        </b>
        </p>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-5">
        <h1>
            Top Cake



        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Unlimited Pancakes served with sausage links. Topping bar includes your choice of 2 fruits, chocolate chips, sprinkles, whipped
            cream and Tang. Includes margarine, syrup, sugar free syrup, paper goods and cutlery.


            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425 or $5.50 pp
            </b>
        </p>

    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-5">
        <h1>
            Chris Cakes Deluxe




        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Unlimited Pancakes served with scrambled eggs, sausage links, hash browns and Tang. Includes margarine, syrup, sugar free
            syrup, paper goods and cutlery.



            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425 or $8.25 pp
            </b>
        </p>

    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-5">
        <h1>
            Big Chris




        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Unlimited Pancakes served with two meat choices, scrambled eggs, hash browns, and Tang. Includes margarine, syrup, sugar
            free syrup, paper products and cutlery.



            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425 or $10.25 pp

            </b>
        </p>

    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-5">
        <h1>
            French Toast Lite
        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            French Toast served with sausage links, margarine, syrup and sugar free syrup and Tang. Includes paper goods and cutlery.



            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425 or $5.75 pp

            </b>
        </p>

    </div>
</div>   <hr>
<div class="row">
    <div class="col-md-5">
        <h1>
            French Toast N Eggs

        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Handmade golden French toast served with scrambled eggs, sausage links and Tang. Includes syrup, margarine and sugar free
            syrup, paper goods and cutlery.




            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425 or $7.75 pp


            </b>
        </p>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-5">
        <h1>
            Biscuits ‘N Gravy

        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Tasty hot biscuits with sausage gravy served with scrambled eggs and Tang. Includes paper goods and cutlery.




            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425 or $6.25 pp


            </b>
        </p>

    </div>
</div>

<br>
<Br>
<div class="jumbotron">
    <h1 class="display-3">"PEOPLE LOVE US… CAUSE WE ARE FLIPPING AWESOME."</h1>
    <p class="lead">
        <b>Dads &amp; Kids Breakfast– West Maple Elementary School</b> <br> "Thank you again for an outstanding event
        this morning!! The students were SO excited and I appreciated your patience (and speed) as we had a wonderful
        turn out!!! We look forward to doing business with you in the future. Enjoy your week!!"<br> -Kindly, Noelle
        Davis Assistant Principal
    </p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Contact Us!</a>
    </p>
</div>

