
@{
    ViewBag.Title = "BreakfastALaCarte";
}

<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Breakfast A-La-Carte<br>
    <small>
        Add any of the following menu items to the Original Chris Cakes Menu or customize your own menu
    </small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active"> Breakfast A-La-Carte</li>
</ol>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            <tr>
                <td>
                    Turkey Sausage (Limit 3 links pp)

                </td>
                <td>$2.00 per person</td>
            </tr>
            <tr>
                <td>
                    Bacon (Limit 3 Slices pp)


                </td>
                <td>$2.00 per person</td>
            </tr>
            <tr>
                <td>
                    Ham (Limit 3 Triangles pp)


                </td>
                <td>$2.00 per person</td>
            </tr>
            <tr>
                <td>
                    Scrambled Eggs




                </td>
                <td>$2.00 per person</td>
            </tr>
            <tr>
                <td>
                    Hash Browns



                </td>
                <td>$2.00 per person</td>
            </tr>
            <tr>
                <td>
                    Biscuits N Gravy


                </td>
                <td>$2.50 per person</td>
            </tr>
            <tr>
                <td>
                    French Toast (Limit 3 half slices pp)


                </td>
                <td>$2.50 per person</td>
            </tr>
            <tr>
                <td>
                    Fresh Fruit Cup


                </td>
                <td>$1.75 per person</td>
            </tr>
            <tr>
                <td>
                    Real Orange Juice


                </td>
                <td>$0.50 per person</td>
            </tr>
            <tr>
                <td>
                    Coffee or Tea


                </td>
                <td>$0.30 per person</td>
            </tr>
            <tr>
                <td>
                    Topping Bar


                </td>
                <td>$1.25 per person</td>
            </tr>
            <tr>
                <td>
                    Yogurt Bar (Includes granola and fresh fruit)
                    ranola


                </td>
                <td>$3.00 per person</td>
            </tr>
        </table>

    </div>

</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <p>
            <b>
                Michelle Dunaway - 9 &amp; 10 News
            </b>
        </p>
        <p>
            "Hey Trevor &amp; Mel--
            It was great to see you guys yesterday...looks like you're having fun as always! Thanks for playing 	along with all our antics! Have a wonderful weekend!"
        </p>
    </div>
</div>
