
@{
    ViewBag.Title = "DayOfEventInformation";
}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Day of Event Information

</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active">
        Day of Event Information


    </li>
</ol>
<div class="row">
    <div class="col-lg-3">
        <img src="/images/day1.jpg" class="img-responsive" alt=""><br>
        <img src="/images/day2.jpg" class="img-responsive" alt="">
        <h3 class="text-center"> Ausable River Canoe Marathon </h3>
    </div>
    <div class="col-lg-9">


        <p>
            We will arrive 1 hour before the start time of your event, and 1-2 hours prior for Menus N More events. You
            must have 2-3 volunteers meet us to unload. We will not unload without your help.
        </p>
        <p>
            When we arrive, our flippers will assess your room for optimum usage and the flow of your event. If you have questions regarding
            your room set-up prior to our arrival, please call our office. Outside events require a three-sided tent
            and prior approval from our office.
        </p>
        <p>
            After unloading, your volunteers will be asked to help set-up the serving tables, work the serving tables during the event,
            help with clean-up and reloading. Your group will not be asked to cook! Remember what Grandma used to
            say… “Many hands make for light work!”
        </p>
        <p>
            Someone from your group will be responsible for ticket, money, and plate distribution. We invoice based on the number of
            plates used. You may want to have signage for your guests to “keep their plate until they have had all
            they can eat.”
        </p>
        <p>
            Payment is due at the conclusion of the event. Take a look at our <a href="InvoicePayment.html">INVOICE AND PAYMENT</a>                    page for more information.

        </p>

    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <img src="/images/day3.jpg" class="img-responsive" alt="">
        <h3 class="text-center">
            MSU Extension Breakfast on the Farm
        </h3>
    </div>
    <div class="col-lg-4">
        <img src="/images/day4.jpg" class="img-responsive" alt="">
        <h3 class="text-center">
            Rogers Athletic Christmas Party
        </h3>
    </div>
    <div class="col-lg-4">
        <img src="/images/day5.jpg" class="img-responsive" alt="">
        <h3 class="text-center">
            Rogers Athletic Christmas Party
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <h2>
                Scott Kefgen and the staff at UPA
            </h2>
            <p>
                "Melanie, Trevor and the gang at Chris Cakes -Thank you so much for the amazing event! Our team was thrilled with everything
                you did for us! Our families were really excited for our pancake fundraiser, and they really showed
                their support by showing up in such large numbers. We are so happy with the results that we hope
                to work with you again in the future! Please let us know if there is anything we can ever do to help
                you." - Sincerely, your very happy customers!

            </p>
        </div>
    </div>
</div>


        </hr>


