
@{
    ViewBag.Title = "Fundraising";
}

<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Fundraising Menus<br>
    <small>
        SCHOOLS   -  CHURCHES  -  BENEFITS   - CLUBS/ORGANIZATIONS -   FESTIVALS   -  AIRPORT FLY-INS
    </small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active">Fundraising</li>
</ol>
<div class="row">
    <div class="col-md-5">
        <h1>
            Original Chris Cakes
        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            All-you-can-eat pancakes served with three sausage links, margarine, syrup, sugar free syrup and Tang. Includes
            paper goods and cutlery. <br>
                                     <table class="table">
                                         <tr>
                                             <td><b>0 – 100 $425 <span sylte="color:red">Flat Fee</span></b> </td>
                                             <td><b>101 – 300 $4.25 pp</b></td>
                                             <td><b>301 – 500 $3.95 pp </b></td>
                                             <td><b>500+  $3.75 pp   </b> </td>
                                         </tr>
                                         <tr>
                                             <td><b>Naked Pancakes (Pancakes, Syrup, & Butter) $3.75pp</b> </td>

                                         </tr>
                                     </table>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-5">
        <h1>
            Hot Dog Bash

        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            All-you-can-eat hot dogs, buns, baked beans, chips and pink lemonade Includes ketchup, mustard, relish, onions,
            paper goods, and cutlery.
            <br>
        </p>
        <p class="text-center"><b>Minimum of $350 or $4.75 pp</b> </p>
        <p class="text-center" style="color:red">
            <b>
                CONEY SAUCE ADD $1.00 pp
            </b>
        </p>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-5">
        <h1>
            Coney Night


        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Our vintage Coney Sauce recipe served over grilled hot dogs, buns, Mac n cheese, pink lemonade. Includes
            ketchup, mustard, relish, onion, paper goods, and cutlery.

            <br>
        </p>
        <p class="text-center"><b>Minimum of $375 or $4.95 pp</b> </p>

    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-5">
        <h1>
            Spaghetti Dinners



        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            All-you-can-eat spaghetti with meat sauce, side salad, rolls, and butter
            served with pink lemonade or iced tea. Includes paper goods, and cutlery.


            <br>
        </p>
        <p class="text-center"><b>Minimum of $375 or $4.95 pp</b> </p>

    </div>
</div>
<hr>
<div class="jumbotron">
    <h1 class="display-3">WE put the FUN… in FUNdraising!</h1>
    <p class="lead">Contact us today for more information!</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/o1iOkNDGkFA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Home/About" role="button">Contact Us!</a>
    </p>
</div>

