
@{
    ViewBag.Title = "HowToRunASuccessfulFundraiser";
}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    How to Run a Successful Fundraiser



</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active">
        How to Run a Successful Fundraiser




    </li>
</ol>
<div class="row">

    <div class="col-lg-12">
        <ul>
            <li>
                Pre-selling tickets is the backbone to any successful fundraiser. Chris Cakes is always prepared for walk-ins. Many events charge an extra $1 or $2 at the door to encourage advance ticket sales. If you sell 300 tickets and only 220 actually eat, remainder 80 tickets sold is an “out right” donation to your group. The more you feed, the less we charge, the more your group makes!
            </li>
            <li>
                Chris Cakes serves in increments of 3 hours. Depending on service hours and number of people to feed, our office will determine the number of grills for your event.  We strongly suggest selling seating times. Selling 75 tickets for each 30 minute time block will also allow for walk-ins. By selling seating times, you will control the flow of your crowd ensuring not all will show at the same time, or have long lines (for groups of 300 or more where applicable).
            </li>
            <li>
                Chris Cakes is most successful when planned around other activities that will draw attendance. Book fairs, science fairs, music performances, puppet shows, plays, before sporting events, etc.
            </li>
            <li>
                Theme your event Pancakes and Pajamas, Breakfast with Santa, breakfast with the Easter Bunny, superheroes, famous book characters, etc.
            </li>
            <li>
                Many hands make for light work! Chris Cakes prices are structured to partner with 2 to 4 of your volunteers. Chris Cakes can bring additional staff for a nominal fee. Volunteers will help unload, set up, light serving, reload and clean-up of your event.
            </li>
            <li>
                Don’t forget: it’s a fundraiser. Consider the price you pay when eating out! We have been doing this for many years. Ask our office any questions you have… we have the answers!
            </li>
            <li>
                In your advertising, please include “As Seen on Food Network,” “Guinness Book World Record Holders,” and “Caution: Beware of Flying Pancakes.” Feel free to download our logos, a sample flyer, tickets, and word search. You are also welcome to download logos and YouTube videos from our website, especially the “Pancake Robot” YouTube video, to enhance your advertising.
            </li>
            <li>
                Book early! We take bookings up to one year in advance. If you have a specific date, call us to check the availability on our busy calendar!
            </li>
        </ul>


    </div>

</div>
<div class="row">
    <div class="col-lg-4">

        <img src="/images/howto1.jpg" class="img-responsive" alt="">
        <h3>
            Skrumpy Skedaddle at Almar Orchard
            Sponsored by RunFit
            Over 2,025 people fed in just 3 hours!!!

        </h3>


    </div>
    <div class="col-lg-8">

        <div class="well text-center">
            "You guys did an awesome job at the Skrumpy Skedaddle!
            Organized clean Fast good food with a FLAIR!"
            <b>Thank you! -Dave Gillie</b>
        </div>
    </div>
</div>


        </hr>

