
@{
    ViewBag.Title = "HowToBook";
}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    How to Book an Event
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">
        How to Book an Event

    </li>
</ol>
<div class="row">
    <div class="col-lg-3">
        <img src="/images/book1.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-lg-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/o1iOkNDGkFA" frameborder="0" allowfullscreen></iframe>
        <div class="well">
            <p>
                Download this GREAT YouTube video and play it during ticket sales and the day of your event… sure to add excitement and create even more FUN prior to your event!
            </p>
        </div>
    </div>

    <div class="col-lg-3">
        <img src="/images/book2.jpg" class="img-responsive" alt="">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <td class="col-lg-2">STEP 1:   </td>
                <td>Review website for policies, pricing, and procedures, or contact our office for further information.</td>
            </tr>
            <tr>
                <td>STEP 2:   </td>
                <td>
                    Fill out the <a href="ContactUs.html">CONTACT US</a> form on website. This holds your date on our calendar until your deposit is 	 	   received.
                </td>
            </tr>
            <tr>
                <td>STEP 3:   </td>
                <td>
                    Deposits are due within one week after the submission of the “CONTACT US” form. You will receive an
                    email from our office when your deposit has been received. Should you decide not to confirm the date
                    held on our calendar, please be <b>mindful</b> to release that date by notifying our office.  If we receive a
                    request that conflicts with your date prior to receiving your deposit, you will get first right of refusal.
                </td>
            </tr>
            <tr>
                <td>STEP 4:   </td>
                <td>Upon receiving confirmation, please review <b>ALL DETAILS</b> and verify correctness of the date, serving 	 	   time, serving address, and cell number for day of event. </td>
            </tr>
            <tr>
                <td>STEP 5:   </td>
                <td>One week prior to your event date, you will receive a ‘Checking In’ email. At this time, you can revise 	          		   your confirmed number if needed and assure us your volunteers are ready. </td>
            </tr>
            <tr>
                <td>STEP 6:   </td>
                <td>Three days prior to the event, you will receive a call from your Flipper</td>
            </tr>
            <tr>
                <td>STEP 7:   </td>
                <td>Chris Cakes is user friendly -- we do all the hard work. Organize 2-3 volunteers, sell your tickets, and 	  	   together this ensures you’ll have a fun and profitable experience. </td>
            </tr>
        </table>

    </div>
</div>



        </hr>

