@{
    ViewBag.Title = "Home Page";
}

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Chris Cakes is the catering company that makes pancakes...<br> BY THE MILLIONS!

        </h1>
    </div>

</div>
<!-- Features Section -->
<div class="row">

    <div class="col-md-6">
        <p><b>Chris Cakes has been around since 1969 –  you wont find us in any history books!  But you can find us in the Guinness Book of  World Records… twice!</b></p>
        <p>
            We use a custom designed grill and dispensing unit that allows us to feed large and small groups extremely fast and efficiently. Add a dose of humor and some fancy pancake flipping, and you have a one of a kind event that people love to watch while enjoying our delicious pancakes! 
        </p>
        <p>
            Not only do we flip flapjacks, we flip burgers, too! Our Menus N More options are full of tasty lunch and dinner options. Pulled pork and smoked potato salad are our specialties because our sister business is a BBQ joint! Don’t see what you’re looking for? ASK US! We try to accommodate all requests.
        </p>
        <p>
            Chris Cakes can be found at fundraisers, church gatherings, school events, university functions, corporate lunches, dinners, benefits,  graduations, reunions, fly-ins and national festivals; the list is endless. No event is too large or too small, from groups of 50 to 50,000!
        </p>
        <p>
            Chris Cakes of Michigan is a dependable catering service that is readily available for your 24/7 catering needs. We service the entire state of Michigan and beyond! Centrally located, we can travel anywhere in Michigan in about two hours! In four feet of snow, in the dead of a Michigan winter, Chris Cakes has a 99.9% success rate.
        </p>
        <p>
            <b>Chris Cakes is more than great food at an affordable price… it’s an experience!</b>
        </p>



    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1GBCRCQMqkw" frameborder="0" allowfullscreen></iframe>
        <div class="well">
            <h4 class="text-center">Premier Breakfast Caterer And Large Event Specialist</h4>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- /.row -->
<!-- Portfolio Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">More than just pancakes!</h2>
    </div>
    <div class="col-md-4 col-sm-6">
        <h4>See us in action on Youtube!</h4>
        <ul>
            <li>Served four Presidents and 16 Governors</li>
            <li>Featured on Food Network</li>
            <li>
                Presented two Guiness World Records
                <ul>
                    <li>Most pancakes made in an hour</li>
                    <li>Highest tossed and caught!</li>
                </ul>
            </li>
        </ul>
        <br><br>
        <h4>What our customers have to say</h4>
        <blockquote>
            <p>
                “Melanie and Trevor - Our event was a success. Trevor is a real pro! Everyone loved the flying pancakes. Organized, in all the right places.
                I am glad to hear you already have another event lined up in Lapeer. You have a great thing going! I love it. We will stop in and see you this summer!”
            </p>
            <footer>Matt English <cite>-- Cubmaster, Pack 126</cite></footer>
        </blockquote>
    </div>

    <div class="col-md-4 col-sm-6">
        <a href="/images/home1.png" data-lightbox="image-1">
            <img class="img-responsive img-portfolio img-hover" src="/images/home1.png" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="/images/home2.png" data-lightbox="image-1">
            <img class="img-responsive img-portfolio img-hover" src="/images/home2.png" alt="">
        </a>
    </div>

    <div class="col-md-4 col-sm-6">
        <a href="/images/home3.png" data-lightbox="image-1">
            <img class="img-responsive img-portfolio img-hover" src="/images/home3.png" alt="">
        </a>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="/images/home4.png" data-lightbox="image-1">
            <img class="img-responsive img-portfolio img-hover" src="/images/home4.png" alt="">
        </a>
    </div>
</div>
<!-- /.row -->
<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>
                Chris Cake’s famous flapjacks aren't the only thing our flippers are cooking up.
                From Coney dogs, brats and burgers to tacos and pulled pork... our Menus N More options will satisfy any group, any time, anywhere in Michigan.
            </p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="#">Contact us Today!</a>
        </div>
    </div>
</div>