
@{
    ViewBag.Title = "InvoicePayment";
}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">Invoice, Mileage, Payment &amp; License</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active">
        Invoice, Mileage, Payment &amp; License
    </li>
</ol>
<div class="row">
    <div class="col-md-5">
        <img src="/images/invoice1.jpg" class="img-responsive" alt="">
        <h3 class="text-center">
            University of Michigan<br>
            Football  - GO BLUE!
        </h3><br>
    </div>
    <div class="col-md-5">
        <h2>Invoice: </h2>
        <p>
            Fundraisers will be invoiced one of two ways:
        </p>
        <ol>
            <li>
                Either 80% of the number confirmed to serve <br><b>
                    Note: Confirmed number can be revised up to one week prior… or
                </b>
            </li>
            <li>
                The actual number of people fed that day, whichever is greatest
                Deposit will be applied to final invoice.
            </li>
            <li>
                Because we purchase a-la-carte items per event based on your confirmed number, you will be invoiced for the a-la-carte items based on the number of people you confirm, not the number of people who actually eat that day.
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="/images/invoice2.jpg" class="img-responsive" alt=""><br>
    </div>
    <div class="col-md-5">
        <h2>
            Mileage:

        </h2>
        <p>
            Because of our inexpensive price per plate, a charge of 70 cents per mile round trip offsets the cost of travel to your event, and helps us to maintain our vehicles, insurance, licenses and inspections. If reaching your event requires a drive time of three hours or more,  or your start time is prior to 6:00am, the cost of a motel will be necessary.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="/images/invoice3.jpg" class="img-responsive" alt="">
        <h3 class="text-center">   Nutcake teaches Sparty how to Flip!</h3>
        <br>
    </div>
    <div class="col-md-5">
        <h2>
            Payment:

        </h2>
        <p>
            A $200 deposit is required within ONE WEEK of your inquiry to secure your date and will be applied to your final invoice. We will no longer hold dates.
            Payment is DUE at the completion of your event. The prices listed are CASH prices. We accept cash, checks, and all major credit cards (a 3% convenience fee applies to all credit card payments).
            If you are unable to provide payment at the completion of your event, there will be an additional 15% administration fee added to these cash prices.
            <br />
        <p class="text-center">
            <b style="color:red;">If you enjoy our flipping, our flippers appreciate your tipping. </b><i>
                *Rescheduling policy: Your $200 deposit will follow you through the calendar year until a new date has been booked.*
            </i>
        </p>

    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="/images/invoice4.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-md-5">
        <h2>
            License &amp; Insurance:

        </h2>
        <p>
            We are a licensed State Transitory Food Unit through the State of Michigan and carry a $1,000,000 liability policy.
        </p>
    </div>
</div>

        </hr>
