
@{
    ViewBag.Title = "LunchAndDinner";
}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Menus N More
    LUNCH &amp; DINNER
    <br>

    <small>
        CORPORATE -  OFFICE -   EMPLOYEE &amp; MEMBER APPRECIATION   - FAMILY REUNIONS -  CHURCH GATHERINGS


    </small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active">  LUNCH &amp; DINNER</li>
</ol>
<div class="row">
    <div class="col-md-5">
        <h1>
            Box Lunches


        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Choice of shaved ham, turkey, chicken or salami served on mini Hoagie roll. Including lettuce, tomato & cheese served with condiments, a pickle spear, chips and a cookie.
            <br>
        <p class="text-center">
            <b>
                Minimum of $ 375 or $5.75 pp
            </b>
        </p>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-5">
        <h1>
            Dogs N’ More
        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Grilled hot dogs (2 per person) and buns served with your choice of side dish, potato chips, condiments and pink lemonade.


            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $ 375 or $4.95 pp
            </b>
        </p>

        </b>
        </p>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-5">
        <h1>
            Coneys  N’ More
        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Our vintage coney sauce recipe served over grilled hot dogs buns, mac n cheese, cookie and pink lemonade. Includes ketchup, mustard, relish, onion and paper goods and cutlery.



            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $ 375 or $4.95 pp

            </b>
        </p>

    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-5">
        <h1>
            Taco Bar
            Nacho Bar
        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Both corn taco shells and flour tortillas or nacho chips served with taco meat, refried beans, lettuce, diced tomatoes, grated cheese, salsa, sour cream and jalapenos.




            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $375 or $ 4.95 pp

            </b>
        </p>

    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-5">
        <h1>
            Brats N’ More
        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Beer boiled and grilled brats, buns served with your choice of one side and potato chips, condiments and pink lemonade.




            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $375 or $ 5.85 pp


            </b>
        </p>

    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-5">
        <h1>
            Burgers N’
            More

        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            USDA Choice Pub burger, buns with your choice of one side and potato chips,
            mustard, ketchup, dill pickle slices, onions and pink lemonade.




            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $375 or $5.85 pp


            </b>
        </p>
        <p class="text-center" style="color:red;">
            <b>
                Add Cheese + $.50 pp   Add Lettuce, Tomato and Cheese $1.50 pp



            </b>
        </p>

    </div>
</div>


<br>
<Br>
<div class="well">
    <h3 class="text-center">
        All Menus Include Plates, Cups, Cutlery, Napkins and Condiments
    </h3>
</div>

