
@{
    ViewBag.Title = "MenusAndMore";
}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Menus N More

    <br>

    <small>
        GRADUATIONS   - WEDDINGS  -   SCHOOL &amp; CHURCH PICNICS   -  BIRTHDAYS    -  ANNIVERSERIES



    </small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active"> Menus N More</li>
</ol>
<div class="row">
    <div class="col-md-5">
        <h1>
            Burger’s N Dogs<br> Burger’s N Brats
        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            USDA Choice Pub burger, buns with your choice of either hot dogs or brats, one side and potato chips, mustard,
            ketchup, dill pickle slices, relish, onions and pink lemonade.
            <br>
        <p class="text-center" style="color:red;">
            <b>
                Add Cheese + $.50 pp   Add Lettuce, Tomato and Cheese $1.50 pp

            </b>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425 


            </b>
        </p>
        <p class="text-center">
            <b>
                Burgers N Dogs  $7.00 pp        Burgers N Brats  $8.00 pp


            </b>
        </p>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-5">
        <h1>
            Grill Chicken N’ More

        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Grill Tyson chicken breast and bun served with your choice of one side, potato chips, BBQ sauce. mayo, mustard, pickle slices
            and pink lemonade.



            <br>
        </p>
        <p class="text-center" style="color:red;">
            <b>
                Add Lettuce and Tomato $1.00

            </b>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425  or $7.50 pp


            </b>
        </p>

        </b>
        </p>
    </div>
</div>
<hr>


<div class="row">
    <div class="col-md-5">
        <h1>
            Pasta N’ More

        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Spaghetti with meat sauce, chicken penne alfredo, side salad, rolls &amp; butter served with pink lemonade or iced tea. Includes
            paper goods and cutlery

            <br>
        </p>
        <p class="text-center">
            <b>
                Minimum of $425  or $7.25 pp


            </b>
        </p>

    </div>
</div>
<div class="row well">
    <h3 class="text-center">It ain’t your car Smokin’… It’s our BBQ !!</h3>
</div>

<div class="row">
    <div class="col-md-5">
        <h1>
            BBQ N’ More
        </h1><br>
    </div>
    <div class="col-md-5">

        <p>
            Choose your meat (pork, chicken, turkey) and sides and call our office for more info <br>
        </p>
        <table class="table">
            <tr>
                <td>Choice of: </td>
                <td>1 Meat &amp; 2 Sides $6.50 pp                       </td>
                <td>1 Meat &amp; 3 Sides $7.50 pp</td>
            </tr>
            <tr>
                <td></td>
                <td>2 Meats &amp; 2 Sides $8.50 pp                      </td>
                <td>2 Meats &amp; 3 Sides $9.50 pp</td>
            </tr>
            <tr>
                <td></td>
                <td><span style="color:red;">Brisket Add $2.00 pp</span>                                  </td>
                <td><span style="color:red;">Ribs Market Value </span>                                                                     </td>
            </tr>

        </table>
    </div>
</div>







<br>
<Br>


