
@{
    ViewBag.Title = "MenusAndMoreALaCarte";
}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Menu’s N More A-La-Carte


    <br>

    <small>
        Call our Office to tailor your Menu… No group too large or too small!




    </small>
</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index">Home</a>
    </li>
    <li class="breadcrumb-item active"> Menus N More A-La-Carte</li>
</ol>
<div class="row">
    <div class="col-md-3">
        <ul>
            <li>BEEF BRISKET </li>
            <li>SMOKED POTATO SALAD </li>
            <li>VINEGAR N OIL COLESLAW </li>
            <li>GARDEN SALAD </li>
            <li>BROCCOLI SALAD </li>
            <li>CORN</li>
            <li>RELISH TRAYS </li>
            <li>BOTTLED WATER </li>
            <li>SODA POP</li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>PULLED PORK</li>
            <li>PASTA SALAD</li>
            <li>MAYO SLAW</li>
            <li>CESEAR SALAD</li>
            <li>CUCUMBER SALAD</li>
            <li>GREEN BEANS </li>
            <li>FRESH FRUIT </li>
            <li>PUNCH</li>
            <li>LEMONADE </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>SMOKED CHICKEN </li>
            <li>COWBOY BEANS </li>
            <li>MACARONI SALAD </li>
            <li>SOUTHWEST SALAD </li>
            <li>TACO SALAD </li>
            <li>MEAT N CHEZ TRAYS </li>
            <li> BROWNIES </li>
            <li>COFFEE </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
            <li>SMOKED TURKEY</li>
            <li>BAKED BEANS</li>
            <li>MAC N CHEZ</li>
            <li>TEX MEX SALAD</li>
            <li>COUSCOUS SALAD</li>
            <li>VEGGIE TRAYS </li>
            <li>
                COOKIES
            </li>
            <li>ICED &amp; HOT TEA</li>

        </ul>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">Important: Take Note! </h1>
        <p>
            Menus N’ More and Breakfast A-la-Carte options are invoiced based on your final confirmed number to serve one week prior
            to your event. We are not the kind of caterer that runs out of food.

        </p>
        <p>
            <b>
                We prepare for big eaters!
            </b>
        </p>
        <p>
            Chris Cakes is designed to make the work easy and enjoyable for everyone involved. Our prices reflect help
            from volunteers that you provide. If you are unable to provide us with those volunteers, we reserve the
            right to adjust our prices accordingly.
        </p>
    </div>

    </h1>
</div>
<div class="row">
    <div class="col-lg-12 well">
        <h3>
            Tracy J. M. McHugh - CE Sundberg Company
        </h3>
        <p>
            "Trevor and Melanie,<br>
            I just wanted to thank you both for making our event a successful one. You made the planning and set up simple and easy.
            Trevor, you are the best! Our employees are still laughing about the flying pancakes and talking about the delicious food. All-in-all
            you made it a memorable and special event. Thanks again for a great breakfast and lunch! Again, our many thanks."
        </p>

    </div>
</div>







<br>
<Br>


