
@{
    ViewBag.Title = "Services";
}


<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">24/7-365 <small>NO ONE CAN DO WHAT WE DO!</small></h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Services</li>
</ol>
<div class="row">
    <div class="col-md-5">
        <img src="/images/services1.jpg" class="img-responsive" alt=""><br>
    </div>
    <div class="col-md-5">
        <h2>FUNdraising</h2>
        <p>
            Where else can you make $1,000 in just a short amount of time? Chris Cakes original pancake menu is structured
            so you can make a lot of money in just a few hours; or host a benefit spaghetti dinner or Coney night.
            Chris Cakes helps to make a profitable and unique experience. The FUN is no extra charge. Click on our
            FUNDRAISING MENU page for more information.<br>
            <a href="/Fundraising.html" class="btn btn-success">View Fundraising</a>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="/images/services2.jpg" class="img-responsive" alt=""><br>
    </div>
    <div class="col-md-5">
        <h2>
            Premiere Breakfast
        </h2>
        <p>
            Our breakfast options include more than just flying flapjacks. We also serve French toast, scrambled eggs,
            hash browns, fresh fruit, and much more. Chris Cakes Premiere Breakfast options can be served at your
            office meetings, civic clubs, and more. Take a look at our BREAKFAST MENUS page, check out our options,
            build your budget, and call our office.
            <br>
            <a href="/BreakfastMenus.html" class="btn btn-success">Breakfast Menus</a>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="/images/services3.jpg" class="img-responsive" alt="">
    </div>
    <div class="col-md-5">
        <h2>
            Menus N More
        </h2>
        <p>
            From pulled pork, pasta, burgers, and brats, Chris Cakes serves corporate picnics, graduations, sporting
            events, and even weddings. Create your own specialized menu. There is very little we can’t do! Check
            out our MENUS N MORE page to see our menu options. Special requests are welcome.
            <br>
            <a href="/MenusNMore.html" class="btn btn-success">Menus N More</a>
    </div>
</div>
<div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-5">
        <h2>
            Emergency Catering
        </h2>
        <p>
            If you have a catering crisis, Chris Cakes is available. We are a 24/7-365 caterer and we can get you out
            of a tight spot. We have the ability to feed a large amount of food to massive amounts of people, from
            serving utility workers to military personnel. Chris Cakes has been even known to provide relief in disaster
            situations.

            <br>

    </div>
</div>
        </hr>
<h2>Frequently Asked Questions</h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Do you travel to Detroit?

                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Yes! Chris Cakes of Michigan serves the whole state of Michigan. Since we are centrally located in Clare, we can travel to
                anywhere in the mitten in just a couple of hours.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                   aria-controls="collapseTwo">
                    Does you pancake mix have peanuts in it?

                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                Our specially blended mix does not contain nuts. In the past we have never had a problem, however our pancake mix is blended
                and prepared in a mill and we cannot guarantee there will be no cross contamination. Check out our
                NUTRITION &amp; ALLERGY page for additional information.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                   aria-controls="collapseThree">
                    How many pancakes has Chris Cakes "flipped"?

                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                More than 34,000,000. Laid end-to-end, they would stretch from Los Angeles, CA to Springfield, IL!
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                   aria-controls="collapseFour">
                    Do you cater more than just pancakes?


                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                Yes! We have several different menus to choose from, check out our MENUS &amp; MORE section!

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                   aria-controls="collapseFive">
                    Who provides the tables and chairs? 


                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                Your group will provides tables, chairs, and trash recepticles. We will also need 2-4 tables for serving.

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                   aria-controls="collapseSix">
                    What happens if I don’t have enough volunteers?


                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                If you do not have volunteers to help, we can bring additional staff to work for a nominal fee.

            </div>
        </div>
    </div>
</div>

<hr>

